<app-header [page]="'home'" ></app-header>
<div class="home-wrap">
    <div class="own-wrap">
        <div class="add-row">
            <h5>Own assets</h5>
            <div class="green-btn" (click)="addAsset()">Add Asset</div>
        </div>
        
        <div class="assets">
            <div *ngFor="let asset of ownAssets" class="individual-asset">
                <div class="top-row">
                    <span>{{asset.assetName}}</span>
                    <div *ngIf="!asset.forSale" class="sell-btn" (click)="openSellAsset(asset)">Sell</div>
                    <div class="button-wrap" *ngIf="asset.forSale">
                        <div  class="cancel-btn" (click)="withdrawSale(asset)" >Withdraw</div>
                        <div class="sell-btn" (click)="openUpdateAssetPrice(asset)" >Update</div>
                    </div>
                    
                </div>
                <span class="forsale" *ngIf="asset.forSale">On sale for ${{asset.price}}</span>
                <div class="desc">{{asset.description}}</div>
            </div>
        </div>
    </div>
    <div class="market-wrap">
        <h5>Available assets</h5>
        <div class="market-assets">
            <div *ngFor="let asset of forSaleAssets" class="individual-asset">
                <div class="top-row">
                    <span>{{asset.assetName}}</span>
                    <div class="sell-btn" (click)="openBuyAsset(asset)">Buy</div>
                </div>
                <div class="green-wrap">
                    <span class="forsale" *ngIf="asset.forSale">For sale at ${{asset.price}}</span>
                    <span class="owner" *ngIf="asset.forSale">Owner : {{getUsername(asset.email)}}</span>
                </div>
                
                <div class="desc">{{asset.description}}</div>
            </div>
        </div>
    </div>
</div>
<ng-template #add let-modal class="add-popup">
    <div class="add-popup">
        <img class="close-img" src="./assets/close-white.png" alt="close" (click)="modalService.dismissAll()">
        <div class="modal-header">Add Asset</div>
        <div class="modal-body">
            <input placeholder="name" type="text" [(ngModel)]="newAsset.assetName">
            <textarea rows="5" placeholder="description" type="text" [(ngModel)]="newAsset.description"></textarea>
        </div>
        <div class="modal-footer">
            <div class="clear-btn" (click)="reset()">
                Reset
            </div>
            <div class="green-btn" [ngClass]="{disabled:isDisabled()}" (click)="addNewAsset()">
                Add
            </div>
        </div>
    </div>

</ng-template>

<ng-template #sell let-modal class="add-popup">
    <div class="add-popup">
        <img class="close-img" src="./assets/close-white.png" alt="close" (click)="modalService.dismissAll()">
        <div class="modal-header">Sell Asset</div>
        <div class="modal-body">
            <input placeholder="price in $" type="number" [(ngModel)]="assetPrice">
        </div>
        <div class="modal-footer">
            <div class="clear-btn" (click)="cancel()">
                cancel
            </div>
            <div class="green-btn" [ngClass]="{disabled:isDisabled()}" (click)="sellAsset()" [ngClass]="{'disabled':assetPrice ===''}">
                confirm
            </div>
        </div>
    </div>

</ng-template>

<ng-template #update let-modal class="add-popup">
    <div class="add-popup">
        <img class="close-img" src="./assets/close-white.png" alt="close" (click)="modalService.dismissAll()">
        <div class="modal-header">Update price</div>
        <div class="modal-body">
            <input placeholder="price" type="text" [(ngModel)]="assetPrice">
        </div>
        <div class="modal-footer">
            <div class="clear-btn" (click)="cancel()">
                cancel
            </div>
            <div class="green-btn" (click)="sellAsset()" [ngClass]="{'disabled':assetPrice ===''}">
                Update
            </div>
        </div>
    </div>

</ng-template>

<ng-template #buy let-modal class="add-popup">
    <div class="add-popup">
        <img class="close-img" src="/assets/close-white.png" alt="close" (click)="modalService.dismissAll()">
        <div class="modal-header">Buy Asset</div>
        <div class="modal-body">
            Are you sure to buy this asset?
        </div>
        <div class="modal-footer">
            <div class="clear-btn" (click)="cancel()">
                cancel
            </div>
            <div class="green-btn" (click)="buyAsset()">
                Buy
            </div>
        </div>
    </div>

</ng-template>

<ng-template #cancel let-modal class="add-popup">
    <div class="add-popup">
        <img class="close-img" src="/assets/close-white.png" alt="close" (click)="modalService.dismissAll()">
        <div class="modal-header">Low balance</div>
        <div class="modal-body">
            You don't have balance to buy this asset
        </div>
        <div class="modal-footer">
            <div class="green-btn" (click)="cancel()">
                Close
            </div>
        </div>
    </div>

</ng-template>